<div id="particles-js">
  <div class="header">
      <h1>
        <a href="/"><img src="/assets/img/amptrack-logo-min.svg" alt="amptrack-logo"></a>
      </h1>
      <h2>Beat & Rock Liveband</h2>
      <div class="info">
        <div><a href="mailto:amptrack4@gmail.com" target="_top"><i class="icon fa fa-envelope"></i><span>amptrack4@gmail.com</span></a></div>
      </div>
  </div>
  <a class="down" href="#content" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
